<div class="navbar navbar-fixed-bottom">
    <div class="row-fluid footer-row">
      <div class="span4 pagination-centered">
        <div style="margin-top: 17px; margin-bottom: 28px; text-align: center;">
          <%= image_tag('logo_text.png', :size => "90x90") %>
        </div>
      </div>
      <div class="span8">
        <h1>Test</h1>
      </div>
    </div>
  </div>
<script>
    $('.datepicker').datepicker({
        format: 'mm-dd-yyyy'
    });
</script>
